<div class="row">
  <div class="col-md-12 text-xs-center">
    <h1>Congratulations!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-xs-center">
    <h2>You have commmited to reduce your footprint by</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-xs-center">
    <h1 class="display-2">350</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-xs-center">
    <h2>kg CO<sub>2</sub>e in 2016!</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 text-xs-center">
    <button class="btn btn-primary"><%= fa_icon "facebook" %> Share</button>
  </div>
  <div class="col-xs-4 text-xs-center">
    <button class="btn btn-primary"><%= fa_icon "twitter" %> Tweet</button>
  </div>
  <div class="col-xs-4 text-xs-center">
    <button class="btn btn-primary"><%= fa_icon "envelope" %> Email</button>
  </div>
</div>


