<div class="row">
  <div class="col-md-12">
           
    <h1>
      <strong>What's Your Commitment For 2016?</strong>
    </h1>
    
    <%= link_to '/signup', class: "btn btn-primary" do %>
      <%= fa_icon "check", :class => "fa-fw" %> Let's Go
    <% end %>
    
  </div>
</div>