<div class="row">
  <div class="col-md-12">
           
    <h1>
      <strong>Calculate Your Carbon Footprint</strong>
    </h1>
    
    <%= link_to "/calculator" do %>
      <button type="button" class="btn btn-lg btn-primary center-block"><%= fa_icon "send", :class => "fa-fw" %> Let's Go</button>
    <% end %>
    
  </div>
</div>