<div class="row" style="background: url(<%= asset_path 'backgrounds/bike-friend.jpg' %>) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">

        <div class="spacing">
        </div>

        <h1 class="text-xs-center display-4">
          I will <strong>bike to class</strong>
        </h1>

        <div class="spacing-small">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4 text-xs-center">
        <h5>Climate change is real. Biking is one way to make a difference. What will <strong>you</strong> do in 2016?</h5>
        <div class="spacing-mini"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6  col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-2 col-xl-offset-5">
          <%= link_to '/signup', class: "btn btn-primary btn-lg btn-block" do %>
            <%= fa_icon "check", :class => "fa-fw" %> Get Started
          <% end %>
        <div class="spacing-small"></div>
      </div>
    </div>
  </div>
</div>