<div class="row">
  
  <div class="col-md-12">
    
    <%= render "back_button" %>
    <hr/>
    
  </div>
</div>
   
<div class="row">
  <div class="col-md-12">
    
    <%= render "answer_form" %>
  
  </div>
</div>  
  
<div class="row">
  <div class="col-md-12">
    
    <hr/>
    <p class="text-muted text-xs-center"><small>Question <%= @question.id %> of <%= Question.count %></small></p>
    
  </div>
  
</div>