<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h1>Your Climate Commitments For 2016:</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h3>&mdash;</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h2>Add Commitments</h2>
    <p class="text-muted">Choose a category to begin.</p>
  </div>
</div>

<div class="spacing"></div>

<div class="row">
  <%
    @categories.each do |category| %>
    
    <div class="col-xs-3 text-xs-center">
      <%= link_to new_commitment_path(:category => category.title) do %>
        <div class="activity_category center-block"></div>
        <p><%= category.title %></p>        
      <% end %>
    </div>
  
  <% end %>

</div>